/* 
background: #d9dad7; 
background: #c24d2c; 
background: #3e4a61; 
background: #1a2639; 
*/

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.logo{
    border-radius: 100%;
}

body{
    background: #1a2639;
}

.fa-sharp{
    font-size: 18px;
    color: #c24d2c;
}

.navbar{
    padding: 0;
}

.navbar-toggler:focus{
    box-shadow: none;
}

@media(max-width:767px) {
    .ul-bg{
        background-color: #3e4a61;
        border: 2.5px #1a2639 solid;
        border-radius: 2px;
    }
}

.nav-item a:hover{
    color:#d9dad7;
    border-radius: 100%;
}

.navbar a:hover{
    color: #d9dad7;
}

.text{
    font-size: 20px;
    color: #c24d2c;
}

.bg{
    background: #1a2639; 
}

.content{
    color: #d9dad7;
    background-color: #3e4a61;
    padding: 15px;
}

.dropcap {
    font-size: 70px;
    font-weight: bold;
    vertical-align: sub;
}

.context{
    font-size: 25px;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #c24d2c;
}

.link{
    color: #d9dad7;
}

.link:hover{
    color: #1a2639;
}

.pic{
    width: 100%;
    border-top: 2px solid #d9dad7;
    border-left: 2px solid #d9dad7;
    border-radius: 5px 70px 5px 70px;
    box-shadow: 5px 5px rgb(26, 26, 26);
}

.pic:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.icons{
    color: #c24d2c;
    font-size: 45px;
    margin: 0 15px;
    border-radius: 100%;
}

.icons:hover{
    color: #fff;
}

/* life */
.img-A{
    width: 500px;
    max-width: 100%;
}

.life-content{
    display: flex;
    flex-direction: row;
    margin: 10px;
    background-color: #1a2639;
    border: 2px solid #c24d2c;
    border-radius: 10px;
}

.life-content > div{
    margin: 5px;
    font-size: 36px;
}

#life-pic{
    padding: 5px;
    border-radius: 100%;
}

.life-txt{
    padding: 5px;
    text-align: justify;
}

@media screen and (max-width:959px){
    .life-content{
        display: flex;
        flex-direction: column;
    }

    .img-A{
        align-self: center;
    }

    #life-pic{
        max-width: 100%;
    }
}

/* discover */
.grid-1{
    width: 100%;
}

.grid-anime{
    display: grid;
    grid-template-columns: auto auto auto;
}

@media screen and (max-width:958px){
    .grid-anime{
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width:767px){
    .grid-1{
        max-width: 100%;
    }
    .grid-anime{
        display: grid;
        grid-template-columns: auto ;
    }
}

.flex-play{
    display: flex;
    flex-direction: row;
}

.grid-3{
    width: 50%;
}

@media screen and (max-width:767px) {
    .flex-play{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .grid-3{
        width: 100%;
    }
}

#head{
    font-size: 50px;
    text-align: center;
}

.content-discover{
    margin: 5px;
    padding: 5px;
    border: 2px solid #c24d2c;
    border-radius: 10px;
    background-color: #1a2639;
    text-align: justify;
}

.cont-txt{
    font-size: 24px;
}

/* cabinet */
.cabinet{
    border: 2px solid #c24d2c;
    background-color: #1a2639;
    display: flex;
    width: 100%;
    border-radius: 15px;
}

.cabinet-content{
    margin: 10px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.cabinet-txt-1{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.cabinet-txt-2{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.cabinet-content:hover .cabinet-img{
    opacity: 0.3;
}

.cabinet-content:hover .cabinet-text{
    opacity: 1;
}

.text-cab{
    background-color: #3e4a61;
    color: white;
    font-size: 16px;
    padding: 16px;
}

.cabinet-img{
    width: 100%;
    border-radius: 15px;
}

@media  screen and (max-width:900px) {
    .cabinet{
        display: flex;
        flex-direction: column;
    }

    .cabinet-content{
        width: 100%;
        max-width: 100%;
        align-self: center;
        padding: 10px;
    }
}

@media screen and (max-width:1050px) {
    .cabinet{
        border: 2px solid #c24d2c;
        background-color: #1a2639;
        display: flex;
        width: 100%;
        border-radius: 15px;
    }

    .cabinet-content{
        margin: 10px;
    }
        
    .cabinet-txt-1{
        display: none;
    }
    .cabinet-txt-2{
        display: none;
    }

    .cabinet-content:hover .cabinet-img{
        opacity: 1;
    }
    
    .cabinet-content:hover .cabinet-text{
        opacity: 1;
    }
}

/* contact */
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #c24d2c;
    background-color: #1a2639;
    border-radius: 15px;
    font-size: 24px;
}

.contact-item{
    width: 50%;
    margin: 5px;
    padding: 5px;
    text-align: justify;
}

.contact-item a{
    color: #fff;
}

.contact-item a:hover{
    color: #c24d2c;
}

.contact-img{
    display: flex;
    justify-content: center;
}

#image-item{
    width: 300px;
    border-radius: 20px;
}

@media screen and (max-width:767px) {
    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid #c24d2c;
        background-color: #1a2639;
        border-radius: 15px;
        font-size: 24px;
    }
    
    .contact-item{
        width: 50%;
        margin: 5px;
        padding: 5px;
        text-align: justify;
    }
    
    .contact-img{
        display: flex;
    }
    
    #image-item{
        width: 300px;
        border-radius: 20px;
    }
}