/* 
background: #d9dad7; 
background: #c24d2c; 
background: #3e4a61; 
background: #1a2639; 
*/

body{
    margin: 0%;
    padding: 0%;
    font-family: 'Kanit', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/landing_page/card_back.jpg");
    background-size: cover;
}

.logo{
    margin-top: 100px;
    width: 100px;
    border-radius: 100%;
}

.lndtxt{
    padding: 100px 0px;
    text-align: center;
    color: #c24d2c;
}